
#define RESOURCE_ID_IMAGE_MENU_ICON 1
#define RESOURCE_ID_IMAGE_NUM_0 2
#define RESOURCE_ID_IMAGE_NUM_1 3
#define RESOURCE_ID_IMAGE_NUM_2 4
#define RESOURCE_ID_IMAGE_NUM_3 5
#define RESOURCE_ID_IMAGE_NUM_4 6
#define RESOURCE_ID_IMAGE_NUM_5 7
#define RESOURCE_ID_IMAGE_NUM_6 8
#define RESOURCE_ID_IMAGE_NUM_7 9
#define RESOURCE_ID_IMAGE_NUM_8 10
#define RESOURCE_ID_IMAGE_NUM_9 11

RESOURCE_ID_IMAGE_NUM_0 RCDATA "images/num_0.png"
RESOURCE_ID_IMAGE_NUM_1 RCDATA "images/num_1.png"
RESOURCE_ID_IMAGE_NUM_2 RCDATA "images/num_2.png"
RESOURCE_ID_IMAGE_NUM_3 RCDATA "images/num_3.png"
RESOURCE_ID_IMAGE_NUM_4 RCDATA "images/num_4.png"
RESOURCE_ID_IMAGE_NUM_5 RCDATA "images/num_5.png"
RESOURCE_ID_IMAGE_NUM_6 RCDATA "images/num_6.png"
RESOURCE_ID_IMAGE_NUM_7 RCDATA "images/num_7.png"
RESOURCE_ID_IMAGE_NUM_8 RCDATA "images/num_8.png"
RESOURCE_ID_IMAGE_NUM_9 RCDATA "images/num_9.png"
